  .box {
    float: center;
    height: 50px;
    width: 50px;
    text-align: center;
    color: white;
    font-size: xx-large;
    clear: both;
  }
  .grid-container {
    display: inline-grid;
  }
  .red {
    background-color: red;
  }
  
  .orange {
    background-color: orange;
  }
  
  .blue {
    background-color: blue;
  }